.image{
    background-image: url('https://images.squarespace-cdn.com/content/v1/57b1786ff5e231afce9fda18/1475832483734-AEMJWI8TBKD8JKUAICDN/ke17ZwdGBToddI8pDm48kBzu9CFT9uEST51n3xxEjSJZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI6qH0Ya4iaAcZMr1qYzJggTCwt1Snl0hMdFA2vjr45KEKMshLAGzx4R3EDFOm1kBS/Healthcare+Management+System+%7C+Medical+Records+System+%7C++Medical+Report+System+%7C+Case+Management+Systems+%7C+Workflow+%26+Asset+Tracking+solutions+%7C+Healthcare+Information+%7C+Gurusoft');
    /* min-height: 100%;
    min-width: 1024px; */
    background-position: center;
    width: 100%;
     background-size: cover;
     height: 500px;

    
    
    top: 0;
    left: 0;
   }