<div class="image">
  <div class="container">
    <div class="card col-md-6 col-6 col-sm-6 col-lg-6 offset-3 mt-5">
      <div class="card-body">
        <h1 style="text-align: center;">SignUp</h1>
         <!--<div class="alert alert-danger" *ngIf='error'>{{error}}</div>-->
        <form #Form='ngForm' (ngSubmit)="signupForm(Form)">
<div class="form-group">
        <label for="Name">Name:</label>
            <input type="text" id="a" class="form-control" #Name='ngModel' ngModel name="Name" required 
              
              style="width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border-style:none none solid none;border-color:green;
              border: width 3px;">
              <div class="alert alert danger" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Name is required</div>
                
                 </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="a" class="form-control" #email='ngModel' ngModel name="email" required minlength="7"
              
              style="width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border-style:none none solid none;border-color:green;
              border: width 3px;">
              <div class="alert alert danger" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.minlength">Please enter correct email</div>
                 </div>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" #password='ngModel' ngModel name="password" required minlength="7" id="password"
              class="form-control" style="width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border-style:none none solid none;border-color:green;">
            <div *ngIf='password.touched && password.invalid'>
              <p class="alert alert-danger" *ngIf='password.errors.required'>This field is mandatory</p>
              <p class="alert alert-danger" *ngIf='password.errors.minlength'>Minimum length is 8</p>
            </div>
          </div>
  <div class="form-group">
            <label for="password"> Confirm Password:</label>
            <input type="password" #password='ngModel' ngModel name="password" required minlength="7" id="password"
              class="form-control" style="width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border-style:none none solid none;border-color:green;">
            <div *ngIf='password.touched && password.invalid'>
              <p class="alert alert-danger" *ngIf='password.errors.required'>This field is mandatory</p>
              <p class="alert alert-danger" *ngIf='password.errors.minlength'>Minimum length is 8</p>
            </div>
          </div>
           <div class="form-group">
            <label for="phNo"> Contact Number:</label>
            <input type="text" #phNo='ngModel' ngModel name="phNo" required minlength="10" id="phNo"
              class="form-control" style="width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border-style:none none solid none;border-color:green;">
            <div *ngIf='phNo.touched && phNo.invalid'>
              <p class="alert alert-danger" *ngIf='phNo.errors.required'>This field is mandatory</p>
              <p class="alert alert-danger" *ngIf='phNo.errors.minlength'>Incorrect input</p>
            </div>
          </div>
          <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I accept the Terms Of Use & Privacy Policy</label>
  </div>
          <button routerLink="/userhome" class="btn btn-outline-danger" type="submit">SignUp</button>

        </form>
      </div>
    </div>
  </div>
</div>
